@import "tailwindcss";


@layer base {
  /* Adicionando a fonte Inter */
  html {
    font-family: 'Inter', sans-serif;
  }
}

/* Estilização da barra de rolagem personalizada */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2c3a52; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3a4c6b;
}